.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerInner a{
  text-decoration: none;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.headerLogo img {
  width: 104px;
  height: 83px;
}

.headerAuthReg {
  display: flex;
  gap: 15px;
}
.block{
  display: block !important;
}
.headerInput{
  position: relative;
}
.accountImage{
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.profile{
  display: flex;
  align-items: center;
  gap: 10px;
}
.accountName{
  color: #000 !important;
  font-size: 24px;
}